<div class="diary-background">
  <h1>編集</h1>

  <%= render 'form', diary: @diary %>

  <%= link_to '戻る', @diary %> |
  <%= link_to '削除する', @diary, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to '一覧に戻る', diaries_path %>
</div>
