<div class="first-view">
  <div>
  <h1 class="text-success">あなたのこころに合わせた音楽を</h1>
  <p class="text-success">日記を書き、その日のこころの具合を記録するだけで、あなたの状態に合わせた音楽をお届け</p>
  <%= link_to 'さっそく日記を書く', new_diary_path %>
  </div>
</div>
