// Place all the styles related to the Diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// index show edit
.diary {
  background-color: rgb(212, 218, 223);
  padding-bottom: 100px;
  &-chart {
    padding-top:20px;
    width: 500px;
    margin: 0 auto;
  }
  &-contens {
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
    width: 90%;
  }
  &-calender {
    margin: 0 auto;
  }
  &-background {
    background-color: rgb(212, 218, 223);
  }
  &-form {
    color: rgb(20, 30, 139);
  }
}
// index
.playlist-item {
  margin-left:20px;
  color: rgb(20, 30, 139);
  > h3 {
    font-size: 18px;
    max-width: 500px;
  }
}
.calender-text {
  text-decoration: none;
}
// show edit
.note-box {
  border: solid 2px #999; /*外枠の線*/
  padding: 0 1em 0 2em; /*内側の余白*/
  position: relative;
  width: 500px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
}
/*文字、罫線の設定*/
.note-box p {
  border-bottom: dashed 1px #ccc; /*罫線*/
  line-height: 1.5; /*行の高さ*/
  padding: 0.5em 0 0.5em 0.5em; /*文字の位置*/
  margin:0;
}

/*ドットの設定*/
.note-box::before {
  content: "";
  position: absolute;
  border-right: dotted 10px #ddd; /*ドットの大きさ、高さ*/
  height:90%;
  top:0.5em; /*位置*/
  left:0.5em; /*位置*/
}
.form-fields {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}
.field-text {
  border-radius: 10%;
  font-size: 20px;
  font-weight: 500;
  background: linear-gradient(
    60deg,
    transparent 70%, 
    rgb(44, 149, 248) 80%, 
    rgb(21, 142, 255) 85%, 
    rgba(0, 132, 255, 0.5) 90%, 
);
}
.feeling{
  width: fit-content;
  margin: 20px auto;
}
.field-desgin {
  border-radius: 5px;
  width: 300px;
}
.one-line {
  height: 30px;
}
.lines {
  height: 50px;
}
/* 初期アイコンの色 */
.fa-face-smile, .fa-face-meh, .fa-face-frown {
  color: gray;
  cursor: pointer;
}
.hidden{
  visibility:hidden;
}
.feeling-label{
  text-align: center;
}


/* 選択されたラジオボタンに対応するラベルのアイコンの色を変える */
input[type="radio"]:checked + label i.fa-face-smile {
  color: green;
}

input[type="radio"]:checked + label i.fa-face-meh {
  color: orange;
}

input[type="radio"]:checked + label i.fa-face-frown {
  color: red;
}
/* タブレット用のスタイル */
@media screen and (max-width: 1023px) {
  .diary {
    &-contens {
      flex-wrap: wrap;
    }
  }
  .playlist-item {
    margin: 0 auto;
    &-video {
      margin: 0 auto;
    }
  }
}
