// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.first-view {
  background-image: image-url("home/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  padding-bottom: 40%;
  // height: 670px;
}
.first-view-contents {
  padding-top: 20px;
  font-family: 'Hiragino Maru Gothic ProN W4';
  color: rgb(102, 153, 212);
  text-shadow:0.5px 0.5px 0 #FFF, -0.5px -0.5px 0 #FFF,
              -0.5px 0.5px 0 #FFF, 0.5px -0.5px 0 #FFF,
              0px 0.5px 0 #FFF,  0-0.5px 0 #FFF,
              -0.5px 0 0 #FFF, 0.5px 0 0 #FFF;
  > p {
    padding: 50px 0;
    font-size: 16px;
  }
}
.first-view-content-link {
  text-decoration: none;
  background-color: rgba(73, 129, 240, 0.3);
  padding:30px;
  width: 300px;
  height: 40px;
  border: 0.1px solid #5a74a9;
  border-radius: 10px;
  &:hover {
    background-color:rgba(73, 129, 240, 0.5);
    color: inherit;
  }
}

/* タブレット用のスタイル */
@media screen and (min-width: 768px) and (max-width: 1023px) {

}

/* スマートフォン用のスタイル */
@media screen and (max-width: 767px) {

}
